---
import Article from "./article.astro";

const articles = await Astro.glob("../pages/blog/*.md");

const column =
    articles.length === 1
        ? ["lg:col-span-12"]
        : articles.length === 2
        ? ["lg:col-span-8", "lg:col-span-4"]
        : articles.length === 3
        ? ["lg:col-span-4", "lg:col-span-4", "lg:col-span-4"]
        : articles.length === 4
        ? ["lg:col-span-8", "lg:col-span-4", "lg:col-span-4", "lg:col-span-8"]
        : articles.length === 5
        ? [
              "lg:col-span-4",
              "lg:col-span-8",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
          ]
        : articles.length === 6
        ? [
              "lg:col-span-8",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-12",
          ]
        : articles.length === 7
        ? [
              "lg:col-span-8",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-8",
          ]
        : articles.length === 8
        ? [
              "col-span-8",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-8",
              "col-span-12",
          ]
        : articles.length === 9
        ? [
              "col-span-8",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-8",
              "col-span-8",
              "col-span-4",
          ]
        : articles.length === 10
        ? [
              "col-span-8",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-4",
              "col-span-8",
              "col-span-4",
              "col-span-4",
              "col-span-4",
          ]
        : articles.length === 11 && [
              "lg:col-span-8",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-8",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-4",
              "lg:col-span-12",
          ];
---

<section class="grid grid-cols-12 gap-4 col-span-12">
    {
        articles.map((article, item) => (
            <Article
                url={article.url}
                title={article.frontmatter.title}
                author={article.frontmatter.author}
                img={article.frontmatter.image}
                col={column}
                item={item}
            />
        ))
    }
</section>
